<p style="color: green"><%= notice %></p>

<%= @user.email %>

<div>
  <% if current_user.uid === @user.uid then %>
    <%= link_to "Edit this user", edit_profile_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>
  <% if current_user.uid === @user.uid then %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
<%# render template: 'photos/index' %>
